@import "tailwindcss";

body {
  height: 100svh;
}

#root {
  height: 100svh;
}

* {
  box-sizing: border-box;
}

@theme {
  --color-main: #f8f4e1;
  --color-secondary: #feba17;
  --color-tertiary: #74512d;
  --color-last: #4e1f00;

  --shadow-md: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  --shadow-board: 10px 10px 0px 1px rgba(78, 31, 0, 0.75);
  --shadow-board-hover: 20px 20px 0px 1px rgba(78, 31, 0, 0.75);

  --grid-board: repeat(autofill, minmax(300px, 1fr));
}
